.register-container {
    width: 300px;
    margin: auto;
    margin-top: 20vh;
    padding: 20px;
    background-color:white; 
    border-radius: 5px;
  }
  
  .register-heading {
    color: #2980b9; 
    text-align: center;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-label {
    color: #fff; 
    margin-bottom: 5px;
  }
  
  .form-input {
    padding: 8px;
    border-radius: 3px;
    border:solid 2px #DCDCDC;
  }
  
  .register-button {
    padding: 10px;
    background-color: #2980b9; 
    color: #fff; 
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .register-button:hover {
    background-color: #2576b8; 
  }
  